body {
	align-items: center;
	display: flex;
	font: 400 15px/1.6 sans-serif;
	flex-flow: row wrap;
}
form {
	margin: 0 12px;
}
label {
	display: block;
}
input[type="number"] {
	width: 48px;
}
button {
	background: #0060df;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 48px;
	margin: 8px 0;
	padding: 0 16px;
}
button:hover {
	background: #003eaa;
}
button:active {
	background: #002275;
}
button:focus {
	box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10,132,255,.3);
}
output {
	display: block;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid #b1b1b3;
	padding: 4px 8px;
}
th {
	background: #ededf0;
}
dl {
	margin: 0;
}
dt {
	float: left;
}
dt::after {
	content: ':';
	padding-right: 4px;
}
dd {
	display: inline;
	margin: 0;
}
dd::after {
	content: '';
	display: block;
}
caption, th, dt {
	font-weight: bolder;
}